.catalog2-list
	border-top: 1px solid var(--border-color)

	.cat-item

		&__img
			width: 75px
			margin-right: 61px

		&__title
			font-weight: bold
			font-size: em(18)

		&__arrow
			size: 20px 17px
			background: url("../img/ico-arrow-right--small.svg") center no-repeat