.seo-text
	background: var(--second-color)
	margin: 85px 0 0
	padding: 50px 50px 65px

	&__text
		max-width: 1100px
		font-size: 1em
		line-height: calc(28 / 15)



@media (max-width: 1400px)
	.seo-text
		margin: 40px 0 0
		padding: 25px