footer.footer
	.wrapper
		.footer__top
			.footer__logo
				a.f-logo(href="#")
					img(src="img/footer-logo.svg")
			.footer__address
				.f-address
					.f-address__title Главный офис ТК “УПСК”
					address.f-address__text 454080, г. Челябинск, ул. Энгельса 44д, офис 909
						br
						a(href="tel: +7 (351) 211-00-70") +7 (351) 211-00-70, 211-00-80
						br
						a(href="mailto: upsk@uralpsk.ru") upsk@uralpsk.ru
			.footer__address
				.f-address
					.f-address__title Главный офис ТК “УПСК”
					address.f-address__text
						a(href="tel: +7 (351) 211-00-70") +7 (351) 211-00-70, 211-00-80
						br
						a(href="mailto: upsk@uralpsk.ru") upsk@uralpsk.ru
						br
						a(href="#") upsk-truba
			.footer__call
				a.fancybox.default-btn(href="#") Заказать звонок
		.footer__bot
			.footer__copy © 2006-2019 
				br
				| ООО «Трубная компания УПСК» 
				br
				a(href="#") Политика конфиденциальности
			.footer__soc
				.f-soc
					a.f-soc__link(href="#")
						include ../../img/ico-vk.svg
					a.f-soc__link(href="#")
						include ../../img/ico-fb.svg
					a.f-soc__link(href="#")
						include ../../img/ico-yt.svg