header.head
	.head__wrap
		.head__logo
			a.logo(href="#")
				img(src="img/logo.svg")
		nav.head__menu
			ul.h-menu
				each link, i in ["Продукция", "Логистика", "О компании", "Полезное", "Контакты", ]
					li
						if (i == 0)
							a.h-menu__link.active(href="#")=link
						else
							a.h-menu__link(href="#")=link
		.head__search
			a.search-link(href="#")
		.head__contacts
			.h-contacts
				address.h-contacts__phone
					a(href="tel: 8 351 211 00 70") 8 351 211 00 70
				.h-contacts__btn
					a.default-btn.fancybox(href="#") Заказать звонок
		.head__burger
			.burger
				span

aside.mobile-menu
	.mobile-menu__content
		nav.mobile-menu__nav
			ul.m-menu
				li.m-menu__item
					a.m-menu__link.active(href="#") Продукция
				each link in ["Логистика", "О компании", "Полезное", "Контакты", ]
					li.m-menu__item
						a.m-menu__link(href="#")=link
		.mobile-menu__phone
			.f-soc__title Наш телефон
			address.m-phone
				a(href="tel: 8 351 211 00 70") 8 351 211 00 70
		.mobile-menu__soc
			.f-soc
				a.f-soc__link(href="#")
					include ../../img/ico-vk.svg
				a.f-soc__link(href="#")
					include ../../img/ico-fb.svg
				a.f-soc__link(href="#")
					include ../../img/ico-yt.svg