<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header.pug 
		main#content
			section.main-slider
				.swiper-wrapper
					- for (let i = 0; i <= 3; i++)
						.swiper-slide
							.main-slider__slide
								picture.main-slider__slide-img
									if (i == 0)
										source(media="(min-width: 660px)" srcset="img/photos/main-slider-img.jpg")
										source(media="(max-width: 660px)" srcset="img/photos/main-slider-img.jpg")
										img
									else
										source.swiper-lazy(media="(min-width: 660px)" data-srcset="img/photos/main-slider-img.jpg")
										source.swiper-lazy(media="(max-width: 660px)" data-srcset="img/photos/main-slider-img.jpg")
										img
										.swiper-lazy-preloader
								.main-slider__slide-text
									.wrapper
										.ms-text
											.ms-text__link
												a.play-link.fancybox(href="#")
													span.play-link__btn
													span.play-link__text Смотреть видео
											.ms-text__text Поставка трубной продукции
												br
												| и металлопроката по России
												br
												| и всему евразийскому континенту
				.main-slider__big-counter
					.big-counter
						include ../img/big-counter.svg
						.big-counter__text
							.big-counter__text-number 1325
							.big-counter__text-subtitle Реализованных проектов
				.main-slider__dots
					.swiper-pagination
				.main-slider__counters
					.main-left-decor
					.ms-counters__cont
						.wrapper
							.ms-counters
								.ms-counters__item
									.ms-counter
										.ms-counter__text
											b 12
											br
											| лет работы
											br
											| в отрасли
								.ms-counters__item
									.ms-counter
										.ms-counter__text Свыше
											b  100 000
											br
											| тонн отгруженного металлопроката
								.ms-counters__item
									.ms-counter
										.ms-counter__text Более
											b  500
											|  постоянных
											br
											| клиентов, готовых порекомендовать нас
								.ms-counters__item
									.ms-counter
										.ms-counter__text Сотрудничаем с
											b  75
											br
											| проверенными производителями
			section.main-catalog__cont
				.main-left-decor
					.main-left-decor__text Каталог продукции
				.wrapper
					.main-catalog
						.main-catalog__filter
							.mc-filter
								form
									.mc-filter__inputs
										.default-input
											select.default-input__input.default-input__input--select
												option Трубы стальные
												option Трубы стальные
												option Трубы стальные
												option Трубы стальные
											label.default-input__label Тип
										.default-input
											select.default-input__input.default-input__input--select
												option Трубы электросварные
												option Трубы электросварные
												option Трубы электросварные
												option Трубы электросварные
											label.default-input__label Подтип
										.default-input
										.default-input
											select.default-input__input.default-input__input--select
												option 0.3 мм
												option 0.3 мм
												option 0.3 мм
												option 0.3 мм
											label.default-input__label диаметр
										.default-input
											select.default-input__input.default-input__input--select
												option 3 см
												option 3 см
												option 3 см
												option 3 см
											label.default-input__label толщина стенки
										.default-input
											select.default-input__input.default-input__input--select
												option Сталь
												option Сталь
												option Сталь
												option Сталь
											label.default-input__label Сталь
										.default-input
											select.default-input__input.default-input__input--select
												option Гост
												option Гост
												option Гост
												option Гост
											label.default-input__label Гост
										.default-input.default-input--submit
											input.default-btn(type="submit" value="Применить фильтр")
		include inc/footer.pug
		include inc/scripts.pug